{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="card mx-auto bg-light text-center shadow" style="max-width: 700px;">
    <div class="card-body">
      <h1 class="mb-4">About Us</h1>
      <h4>Why we created Workout Buddy</h4>
      <p>
      <p class="lead">In today’s busy world, it can be difficult for women and non-binary people to find motivation to work out, keep fit and healthy, and to find like-minded friends who are willing to help you reach those goals.</p>
      <p class="lead">A study by Kean University found that when less active individuals interacted with others who exercised regularly, they felt encouraged and exercised more. This also had positive improvement on their mental health, finding that many of the participants found group encouragement helpful and held a level of accountability that they lacked when exercising alone [1].</p>
      <p class="lead">The main aim of our web application is to make fitness more accessible regardless of your current fitness level or experience. Drawing on our own experiences, we wanted to include motivational quotes, randomly generated exercises and healthy smoothie recipes to everyone who visits the site. Then for the signed in user, we wanted to include a way to find and match with other users and send and recieve messages to motivate and inspire.</p>
      <p>[1] Rackman, A: 19-Oct-2022 – “Friends could be key to finding fitness motivation” [Online] Available From: https://www.bbc.co.uk/news/health-63321248 - [Accessed 19-Oct-2022]</p>
    </div>
  </div>
{% endblock %}
