<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="container">
        <div id ="headerbox">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid col">
                  <div id="brand">
                    <div id="circle"> </div>
                  <a class="brand" href="/">Workout Buddy</a>
                </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="col collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/workouts">Workouts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Smart Smoothies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/">View Profiles</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/profile">My Profile</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                    </ul>

                  </div>
                </div>
              </nav>
                <div id="quotesbar">
                        "So inspire. Much motivation."
                    </div>
        </div>
<main>
        <div id="maincontent">
            <div id="leftmain">
                <img class="largeimage" src="static/smiling-strong-woman-together.jpg">
                <img class="smallimage" src="static/greg-rosenke-OqP4uMDQ1e0-unsplash.jpg">
                <img class="smallimage" src="static/women-who-plank-together.jpg">
            </div>
            <div id="rightmain">

                <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
             {% block body %}{% endblock %}
                </div>
            </div>
        </div>
</main>
        <footer><a href="/disc">Disclaimer</a> | c Workout Buddy 2022 | </footer>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>