{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="card mx-auto bg-light text-center shadow" style="max-width: 600px;">
    <div class="card-body">
      <h1 class="mb-4">Disclaimer</h1>
      <p>Please consult your GP before undertaking new exercises.</p>
      <p>Be mindful around giving out private information.</p>
      <p>Remember to check in with friends and family when going to new places and meeting new people.</p>
    </div>
  </div>
{% endblock %}
