{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
                <p>Put the page content here</p>
                <p>Please consult your GP before undertaking new exercises, we are not liable for your hurting yourself ok?</p>
                <p>Don't give out private information on this app - Captain Tom is not alive and a Nigerian prince is not going to marry you.</p>
                <p>Remember to check in with friends and family when going to new places and meeting new people, please be safe</p>
                <p>Our final disclaimer won't be this snotty.</p>
{% endblock %}