{% extends 'base.html' %}
{% block title %}Find a Buddy!{% endblock %}
{% block body %}
<h1 class="text-center">Find a Buddy!</h1>

<h2 class="text-center">[match name]</h2>

<p>[match bio information/little blurb thing]</p>
<img class="profileimage" src="/">



<form action="" method="get">
    <button type="submit" class="button small-button">Accept Buddy</button>
</form>
<form action="" method="get">
    <button type="submit" class="button small-button">Reject Match</button>
</form>
<form action="" method="get">
    <button type="submit" class="button small-button">Finished Matching</button>
</form>




{% endblock %}