{% extends 'base.html' %}
{% block title %}Find a Buddy!{% endblock %}
{% block body %}

<h1 class="text-center">Find someone to connect with</h1>
<h2>This is already inside a container div, no need for extras.</h2>
<p>Put all extra HTML/python in here, and add to app.py as necessary</p>




<button type="submit" class="button small-button">Accept Buddy</button>
<button type="submit" class="button small-button">Reject Match</button>
<button type="submit" class="button small-button">Finished Matching</button>




{% endblock %}