{% extends 'base.html' %}
{% block title %}public profile{% endblock %}
{% block body %}

<h1>USER NAME/DISPLAY NAME</h1>
<img class="profileimage" src="/">
<h2>Bio: </h2>
<p>Extra information that a user may want to give: examples follow</p>
    <p>hobbies<p>
    <p>disabilities</p>
    <p>sports ideals</p>


<h2>Follow [user name] to connect and message! </h2>
<form action="" method="get">
    <button type="submit" class="button small-button">Follow [display name]</button>
</form>
<p></p>
<h2>Followers:</h2>
<p>Some sort of list of followers/frequent interactions</p>
<h2>Communities:</h2>
<p>Some sort of list of communities within app or external</p>


{% endblock %}

